body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: khaki;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.cardartikel {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: rgb(197, 206, 200);
  position: relative;
}
.cardregis {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
}
.cardkomen {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
}
.title {
  color: grey;
  font-size: 30px;
  text-align: center;
}
.titlekomen {
  color: grey;
  font-size: 25px;
  text-align: center;
}
.labelbuku {
  color: rgb(14, 12, 12);
  font-size: 20px;
  text-align: left;
}
.labelkomen {
  color: rgb(14, 12, 12);
  font-size: 15px;
  text-align: left;
}
footer {
  flex-shrink: none;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
